[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "==1.0.1"
currencypy = {editable = true, path = "."}

[dev-packages]
black = "==24.2.0"
pytest = "==8.0.2"
mypy = "==1.8.0"
tox = "==4.13.0"
flake8 = "==7.0.0"
flake8-black = "==0.3.6"
pre-commit = "==3.6.2"
pylint = "*"
